body {
    background-color: cadetblue;
}
h1 , h2 {
    color: darkred;
    font-family: "Arial Black";

}
p,li {
    color: white;
}
p::first-letter{

    font-size: 150%;

}

a{

    text-decoration: none;
    color: red;
}
strong,dt {
    color: yellow;
}

